/* https://coolors.co/palette/606c38-283618-fefae0-dda15e-bc6c25


--dark-moss-green: #606c38ff;
--pakistan-green: #283618ff;
--cornsilk: #fefae0ff;
--earth-yellow: #dda15eff;
--tigers-eye: #bc6c25ff; */


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(254, 250, 224);
}

#game-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#area-cmp {
    /* border: 1px solid black; */
    background-color: #bc6c25ff;
    /* align-self: center; */
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem 1rem;
}

#area-title {
    /* align-self: ; */
}

#desc-cmp {
    margin: .5rem 0;
    padding: 1rem 1rem;
    background-color: #606c38ff;
    color: #fefae0ff;
    border-radius: 1rem;
}

#actions-container {
    display: flex;
    flex-direction: row;
    /* gap: 1rem; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    
}

.map-container {
    /* border: 1px solid black; */
    /* display: flex;
    justify-content: center; */
    /* background-color: #283618ff; */
}

#map-comp {
    border: 1px solid black;
    width: 100%;
    /* align-self: center;
    
    background-color: black; */
}


.btn {
    background-color: #bc6c25ff;
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: .5rem;
    flex: 1;
}

.btn:hover {
    background-color: #606c38ff;
    color: #fefae0ff;
}

.btn:active {
    background-color: #283618ff;
    color: #fefae0ff;
}


@media (max-width: 500px) {
    #actions-container {
        flex-direction: column;

    }

    .btn {
        width: 100%;
        margin: .5rem 0;
    }
}